.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 400px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
}

.select-wrapper {
  width: 200px;
  margin-bottom: 250px;
  margin-left: 50px;
}

.section-title {
  margin-top: 25px;
  text-align: center;
}

.chart1 {
  margin-left: 250px;
}

.chart2 {
  margin-left: 50px;
}
